@charset "UTF-8";

#profile{
    background-image: url(../../../public/img/tennis_1.jpg);
    background-size: 1600px 800px;

    .mask-black{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .5;
    }

    @include media-breakpoint-down(sm){
        background-size: 800px 100vh;
    }
}